<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<h2>Add Service</h2>
<p>
    <a th:href="@{/contractList.html}">
        Back to list contract
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}" style="color: red"></p>
</th:block>
<div id="form">
    <form th:action="@{/contract/create}" th:object="${contract}"
          method="post">
        <div>
            <label>Start day</label>
            <input id="datepicker" type="text" th:field="*{startDayContract}">
            <p th:if="${#fields.hasErrors('startDayContract')}" th:errors="*{startDayContract}"></p>
        </div>
        <div>
            <label>End day</label>
            <input id="datepicker" type="text" th:field="*{endDayContract}">
            <p th:if="${#fields.hasErrors('endDayContract')}" th:errors="*{endDayContract}">Invalid</p>
        </div>
        <div>
            <label>Deposit</label>
            <input type="text" th:field="*{depositContract}">
        </div>
        <div>
            <label>Total pay</label>
            <input type="text" th:field="*{totalPayContract}">
        </div>
        <td>Customer</td>
        <td>
            <select th:field="*{customer.idCustomer}">
                <option th:each="customer : ${customers}" th:value="${customer.idCustomer}"
                        th:text="${customer.nameCustomer}"></option>
            </select>
        </td>
        <td>Name Service</td>
        <td>
            <select th:field="*{nameService}">
                <option value="Villa">Villa</option>
                <option value="House">House</option>
                <option value="Room">Room</option>
            </select>
        </td>
        <div>
            <label>Area</label>
            <input type="text" th:field="*{areaService}" placeholder="Area Service">
        </div>
        <div>
            <label>Number Floor</label>
            <input type="text" th:field="*{numberFloorService}"/>
        </div>
        <div>
            <label>Max people</label>
            <input type="text" th:field="*{maxPeopleService}"/>
        </div>
        <div>
            <label>Rent Cost</label>
            <input type="text" th:field="*{rentCostService}"/>
        </div>
        <td>Type Rent</td>
        <td>
            <select th:field="*{typeRent.idTypeRent}">
                <option th:each="typeRent : ${typeRents}" th:value="${typeRent.idTypeRent}"
                        th:text="${typeRent.nameTypeRent}"></option>
            </select>
        </td>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="layout :: footer"></footer>

</body>
</html>