<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<a href="/" style="text-decoration: none"><h2>Home</h2></a>
<form action="/service/serviceList">
    <input type="text" name="search" class="form-group" placeholder="Search Name">
    <input type="submit" value="Search">
</form>
<p>
    <a th:href="@{/service/create}">
        Add new service
    </a>
</p>
<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}" style="color: red"></span>
    </div>
</div>
<table id="customers">
    <thead>
    <tr>
        <th>Name Service</th>
        <th>Area</th>
        <th>Max People</th>
        <th>Rent Cost</th>
        <th>Type Rent</th>
        <th>Standard Service</th>
        <th>Pool Area</th>
        <th>Number Floor</th>
        <th>Free Include Service</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="service : ${services}">
        <td th:text="${service.getNameService()}"></td>
        <td th:text="${service.getAreaService()}"></td>
        <td th:text="${service.getMaxPeopleService()}"></td>
        <td th:text="${service.getRentCostService()}"></td>
        <td th:text="${service.getTypeRent()}"></td>
        <td th:text="${service.getStandardService()}"></td>
        <td th:text="${service.getPoolAreaService()}"></td>
        <td th:text="${service.getNumberFloorService()}"></td>
        <td th:text="${service.getFreeIncludeService()}"></td>
        <td><a th:href="@{/admin/customer/{id}/edit(id=${service.getIdService()})}">edit</a></td>
        <td><a th:href="@{/admin/customer/{id}/delete(id=${service.getIdService()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/service/serviceList'(page=${services.number},search=${search})}"
       th:if="${services.hasPrevious()}">Back</a>
    <span th:text="${services.number + 1}"></span>/<span th:text="${services.totalPages}"></span>
    <a th:href="@{'/service/serviceList'(page=${services.number + 2},search=${search})}" th:if="${services.hasNext()}">Next</a>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>