<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h2>Delete Customer</h2>
<p>
    <a th:href="@{/customer}">
        Back To Customer List
    </a>
</p>
<th:block th:if="${success}">
    <p th:text="${success}" style="color: red"></p>
</th:block>
<div id="form">
    <form th:action="@{/customer/delete/__${customer.idCustomer}__}" th:object="${customer}"
          method="post" novalidate="novalidate">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameCustomer}"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="*{emailCustomer}"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{addressCustomer}"/>
        </div>
        <input type="submit" value="Delete">
    </form>
</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>